/* 
    Listing of variables used in other sass files

    Author     : Patrick Jackson, Golden Path Solutions <pjackson@goldenpathsolutions.com>
    Version    : 1.0.0
    Created    : 2014-10-02
    
*/

// Colors

$white      : #fff;
$offWhite   : #eee;
$ltGray     : #ccc;
$gray       : #999;

// Sizes

$vgaWidth   : 640px;