/*
    Contains default styling for this plugin

    Created on : Jun 24, 2014, 11:00:15 AM
    Author     : Patrick Jackson <pjackson@goldenpathsolutions.com, 
                 Golden Path Solutions (www.goldenpathsolutions.com)


    Table of Contents

    1. Colors
    2. Section Replacement Content (locked)
*/

/*---------------------------------------------------------------------------
 *  1. Colors
 *---------------------------------------------------------------------------*/

$lockedContentBackground:LightYellow;
$unlockedContentBackground: #fdfdfd;
$errorbackground:#FFEBFA;

/*---------------------------------------------------------------------------
 *  2. Section Replacement Content
 *
 *  The following styles apply to what is displayed to visitors when a content
 *  section is locked.
 *
 *---------------------------------------------------------------------------*/

div.password-protected-section {
    
    &.locked {
        
        //width: 80%;
        //margin-left: 20px;
        background-color: $lockedContentBackground;
        border: 1px solid darken($lockedContentBackground, 50%);
        padding: 5px 5px 10px;

        form { margin: 10px 0 0;}

        p { 
            margin: 0; 
            line-height: 1.25em;
        }

        label { 
            font-weight: bold; 
            margin-right: 10px;
        }

        button {
            margin-left: 10px;
        }
        
        .lock-icon {
            text-align: right;
            color: darken($lockedContentBackground, 50%);
            line-height: 1em;
        }
        
    }
    
    &.unlocked {
        border: darken($unlockedContentBackground, 10%) 1px solid;
        //border-bottom: darken($unlockedContentBackground, 10%) 1px solid;
        background-color: $unlockedContentBackground;
        padding: 5px;
        
        .relock-link {
            display: block;
            text-align: right;
            color: darken($unlockedContentBackground, 10%);
        }
        
        form { margin: 0; }
    }
    
    
    /* Error State */
    
    p.gps-error { 
        padding: 5px; 
        margin-bottom: 5px;
    }
    p.gps-error, input.gps-error {
        color: darken($errorbackground, 65%);
        background-color: $errorbackground;
        border: 1px solid darken($errorbackground, 50%);
    }
    label.gps-error {
        color: darken($errorbackground, 65%);
    }
    
}


